<h2>Heroes list</h2>

<div>
  <ul>
    <li class="hero" [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)">{{hero.name}}</li>
  </ul>
</div>

<div *ngIf="selectedHero">
  <div class="">
    <span>Details for {{selectedHero.name}}</span>
  </div>
  <label>Name:
    <input [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
  <div><span>Id: {{selectedHero.id}}</span></div>
</div>
